## use this template to create your own .env file.

# Required configuration. Endpoint ShortLoop control tower. Eg: http://localhost:8080
CT_URL=<url>



# DB config (use only if you are providing external DB)
DB_HOST=<postgres_db_endpoint>
DB_PORT=<port>
DB_NAME=<db_name>
DB_USER=<db_username>
DB_PWD=<db_password>



# Basic configuration for Control Tower.
LOG_DIR=<eg: /var/log/shortloop/ct> 
LUCENE_PATH=<eg: /var/log/shortloop/lucene>



# Portal Port Customisation (default is 80)
UI_PORT=<port> 


# Control Tower Port Customisation (default is 8080)
CONTROL_TOWER_PORT=<port>